.slide-manager{
  width:100%;
  height:100%;
  .slide-container{
    width:1000%;
    position:relative;
    overflow:hidden;
    height:calc(100% - 20px);
    transition:margin-left 0.5s;
    .slide{
      transition:background-color 0.5s;
      width:calc(25% - 20px);
      margin-left:10px;
      margin-right:10px;
      text-align:center;
      border:1px solid gray;
      display:inline-block;
      height:100%;
      border-radius:25px;

      .slide-image{
        height:500px;
        text-align: center;
        margin-bottom:15px;
        i{
          width:100%;
          font-size:300px;
          margin-top: 150px;
        }

      }
      .slide-text{
        text-align:center;
        padding-left:40px;
        padding-right:40px;
        h3{
          font-size:3em;
        }
        p{
          text-align:left;
          font-size:1.2em;
        }
      }

    }
    .selected{
      background-color:rgba(146,216,240,0.8);
    }

  }
  .slide-indicator{
    position:absolute;
    height:20px;
    bottom:20px;
    width:400px;
    margin-left:-200px;
    left:50%;

    .ball-container{
      position:relative;
      margin-left:auto;
      margin-right:auto;
      text-align: center;
      .ball{
        margin-left:10px;
        margin-right:10px;
        background-color:red;
        opacity:0.3;
        border-radius:50%;
        width:20px;
        height:20px;
        display:inline-block;
      }
      .ball.filled{
        opacity:1;
      }
    }
  }

}
.thank-you{
  text-align:center;
  font-size:2em;
  top:50%;
  transform:translateY(-50%);
  position:relative;
  h2{
    font-size:4em;
  }
  h3{
    font-size:2.2em;
  }
  i{
    font-size:5em;
  }
  span{
    font-size:2em;
  }

}
