$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "slide";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  min-height:100%;
  height:100%;
  width:100%;
  overflow:hidden;
}
html{
  min-height:100%;
  height:100%;
}
.container{
  width:100%;
  overflow:hidden;
  padding:10px;
  height:100%;
}
.the-view{
  height:100%;
}
.pointing-here{
  position:absolute;
  top: calc(50% - 25px);
  height:50px;
  border-radius:50%;
  width:50px;
  transition:all 0.1s;
  background-color:#FF0000;
  opacity:0.5;
  z-index: 5;
  margin-left:-25px;

}
.config{
  cursor:pointer;
  padding:10px;
  font-size:30px;
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  background-color:black;
  color:white;
}
.config-popup{
  width:100%;
  top:0;
  left:0;
  height:100%;
  position:absolute;
  background-color:#f1f1f1;
  z-index:20;
  .button{
    cursor:pointer;
    padding:2px;
    background-color:black;
    color:white;
  }
}
