<div class="config" ng-click="showConfig()">
  <i class="fa fa-cog"></i>
</div>
<div class="config-popup" ng-show="configShowing">
  Screen Width
  <input type="number" ng-model="configValues.width" value=""></input>
  <br>
  Screen Height (mm)
  <input type="number" ng-model="configValues.height" value=""></input>
  <br>
  Distance to Leap (mm)
  <input type="number" ng-model="configValues.distance" value=""></input>
  <br>
  <div class="button" ng-click="cancelConfig()">CANCEL</div>
  <div class="button" ng-click="applyConfig()">APPLY</div>
</div>

<div class="slide-manager" ng-controller="SlideCtrl">
  <div class="slide-container"  ng-style="{'margin-left':sliderPos + 'px'}" ng-hide="finished">
    {{headline}}
    <div class="slide" ng-repeat="choice in currentChoices" ng-style="slideWidth" ng-class="{'selected': $index == selectedSlide}">
      <div class="slide-image">
        <i class="fa" ng-class="choice.icon">
        </i>
      </div>
      <div class="slide-text">
        <h3>{{choice.name}}</h3>
        <h4 ng-show="choice.price">{{choice.price*chosenPerson.discount}}</h4>

          <p><br><br>{{choice.description}}</p>
      </div>
    </div>
  </div>
  <div class="slide-indicator" ng-hide="finished">
    <div class="ball-container">
      <div class="ball" ng-repeat="ball in currentChoices" ng-class="{'filled' : $index >= currentSlide && $index<(currentSlide+slidesPerPage)}">
      </div>
    </div>
  </div>
  <div class="thank-you" ng-show="finished">
    <h2>Thank you for your purchase!</h2>
    <h3>{{chosenPayment.text}}</h3>
    <i class="fa" ng-class="chosenTicket.icon"></i>
    <br>
    {{chosenTicket.name}}
    <br>
    <span ng-show="chosenPerson.minimum">{{chosenPerson.minimum*chosenTicket.price*chosenPerson.discount}}.-</span>
    <span ng-hide="chosenPerson.minimum">{{chosenPerson.discount*chosenTicket.price}}.-</span>
  </div>
</div>
